<section class="right-side">
    <div class="logo">
        <span class="material-symbols-outlined">
            favorite
        </span>
        <p>Entre para continuar sua jornada</p>
    </div>
    <form>
        <div class="email-container info">
            <label for="">Nome</label>
            <input type="text" placeholder="ex: Eduardo Lifter Bragança" name="" id="">
        </div>
        <div class="select-info">
            <div class="select">
                <label for="">Especialidade</label>
                <select name="" id="">
                    <option value="" selected>Escolha</option>
                    <option value="">Reumatologista</option>
                    <option value="">Psicólogos</option>
                    <option value="">Psiquiatra</option>
                    <option value="">Fisioterapeuta</option>
                    <option value="">Nutricionista</option>
                </select>
            </div>
            <div class="info text-infor">
                <label for="">N Conselho</label>
                <input placeholder="CRP/CREFITO/CRM" type="text" name="" id="">
            </div>
        </div>
        <div class="email-container info">
            <label for="">Email</label>
            <input type="email" placeholder="seu@email.com" name="" id="">
        </div>

        <div class="password-container info">
            <label for="">Senha</label>
            <input type="password" placeholder="********" name="" id="">
        </div>
        <div class="lgpd">
            <input type="checkbox" name="" id="">

            <label for="">Ao marcar esta caixa, declaro estar ciente e de acordo com os <a
                    href="https://www.gov.br/receitafederal/pt-br/acesso-a-informacao/lgpd/termo-de-uso">Termos de
                    Uso</a> e autorizo o
                uso
                dos meus dados conforme descrito na Política de Privacidade da plataforma.</label>

        </div>

        <input (click)="login()" class="button" type="button" value="Entrar" name="" id="">

    </form>

</section>