* {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
    box-sizing: border-box;
}

.navbar-container {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    top: 0;
    z-index: 1000;
    position: sticky;
    background-color: white;

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 20px;
        max-width: 1100px;
        margin: 0 auto;

        .nav-container {
            .nav {


                display: flex;
                gap: 20px;
                font-size: 16px;
                align-items: center;
                font-weight: bold;
                color: var(--text-main);

                .comunidade {
                    background-color: var(--primary);
                    color: white;
                    font-weight: bold;
                    padding: 8px 16px;
                    border-radius: 50px;
                    font-size: 14.4px;
                    transition: 0.3s;
                }

                .comunidade:hover {
                    background-color: var(--primary-dark);
                    transform: translateY(-2px);
                    color: white;
                }


                li {
                    cursor: pointer;
                    transition: 0.3s;
                }

                li:hover {
                    color: var(--primary);
                }

            }
        }
    }
}