* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 20px rgb(182, 182, 182);
    max-width: 700px;
    height: 654px;
    padding: 40px;
    background-color: var(--bg-card);
    border-radius: var(--radius);

    form {
        margin-top: 20px;

        .email-container {
            margin-bottom: 18px;
        }

        .info {
            display: flex;
            flex-direction: column;

            input {
                width: 360px;
                height: 38px;
                border-radius: 1rem;
                border: 1px solid var(--border);
                padding-left: 6px;
                background-color: var(--bg-body);
            }
        }

        .checkbox-container {
            margin-top: 18px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: var(--text-muted);

            div {
                display: flex;
                align-items: center;

                label {
                    padding-left: 6px;
                }

                input {
                    height: 18px;
                    width: 18px;
                }
            }

            p:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }

        .button {
            border: none;
            background-color: var(--primary-button);
            width: 360px;
            padding: 10px 0;
            margin: 18px 0;
            color: white;
            border-radius: var(--radius);
            transition: 0.3s;
        }

        .button:hover {
            background-color: var(--primary-dark);

        }
    }

    .material-symbols-outlined {
        font-size: 40px;
        padding: 6px;
        background-color: var(--primary-button);
        border-radius: var(--radius);
        color: white;
        margin-bottom: 20px;
        cursor: pointer;
    }

    .continue {
        width: 100%;
        text-align: center;
        margin: 60px 0 30px 0;
        position: relative;
        color: var(--text-muted);


        p {
            padding: 6px 10px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;
            background-color: var(--bg-card);
        }

        hr {
            width: 100%;
            position: static;
            height: 1px;
        }
    }

    .google-container {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 8px 12px;
        border: 1px solid var(--border);
        border-radius: var(--radius);
        width: 100%;
        margin-bottom: 18px;
        transition: 0.3s;



        img {
            height: 20px;
        }
    }

    .google-container:hover {
        background-color: var(--bg-body);
    }

    .create-account {
        color: var(--text-muted);

        a {
            text-decoration: none;
            color: var(--primary-button);
        }

        a:hover {
            text-decoration: underline;
        }
    }
}