<section class="right-side">
    <span id="login" class="material-symbols-outlined">
        favorite
    </span>
    <p>Entre para continuar sua jornada</p>
    <form>
        <div class="email-container info">
            <label for="">Email</label>
            <input type="email" placeholder="seu@email.com" name="" id="">
        </div>

        <div class="password-container info">
            <label for="">Senha</label>
            <input type="password" placeholder="********" name="" id="">
        </div>

        <div class="checkbox-container">
            <div>
                <input type="checkbox" name="" id=""> <label for="">Lembrar-me</label>
            </div>
            <p>Esqueci minha Senha</p>
        </div>
        <input (click)="login()" class="button" type="button" value="Entrar" name="" id="">
    </form>
    <div class="continue">
        <p>
            ou continue com
        </p>
        <hr>
    </div>


    <div class="google-container">
        <img src="assets/google.png" alt="">
        <p>Google</p>
    </div>

    <div class="create-account">
        <p>Não tem uma conta? <a routerLink="cadastro-pessoal">Criar Conta</a></p>
        <p>Faça uma conta <a routerLink="cadastro-profissional">profissional</a></p>
    </div>
</section>