* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

main {
    font-family: var(--font-main);
    background-color: var(--bg-body);
    line-height: 1.6;
    width: 100%;

    .login-section {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px 0px;
        gap: 60px;

        .left-side {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            img {
                width: 700px;
            }

            .icons-container {
                display: flex;
                gap: 60px;

                .icons {
                    display: flex;

                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    span {
                        margin-bottom: 4px;
                        padding: 8px;
                        background-color: #E6E0FF;
                        border-radius: var(--radius);
                        color: var(--primary);
                    }
                }
            }

            .text {
                width: 700px;

                strong {
                    color: var(--primary);
                }
            }
        }

        >div:last-child {
            display: flex;
            align-items: center;
            justify-content: center;

        }
    }
}


.hero {
    padding: 80px 0;
    background: #F8F9FA;
    background: linear-gradient(180deg, rgba(248, 249, 250, 1) 0%, rgba(243, 229, 245, 1) 100%);
    text-align: center;

    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-family: var(--font-heading);
    color: var(--primary-dark);
}

.hero p {
    font-size: 1.2rem;
    color: var(--text-muted);
    margin-bottom: 30px;
    max-width: 800px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;

}

.hero-btns {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.highlight {
    color: var(--primary);
    font-style: italic;
}

.btn {
    background-color: var(--primary);
    color: white;
    padding: 12px 24px;
    border: 2px solid var(--primary);
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
}

.btn:first-child:hover {
    background-color: var(--primary-dark);
    transform: translateY(-2px);
    border-color: var(--primary-dark);
}

.btn:last-child {
    border: 2px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
}

.btn:last-child:hover {
    background-color: var(--primary);
    transform: translateY(-2px);
    color: white;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 60px;
}

#sobree {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;


    .section-header {
        h2 {
            font-size: 14px;
            margin-top: 60px;
            margin-bottom: 20px;
            color: var(--primary);
        }
    }

    .content-grid {
        .text-block {
            p {
                width: 700px;
                font-size: 12px;
                color: var(--text-muted);
                margin: 0 auto;
            }
        }
    }

    .cardss {
        margin: 40px 0;
        display: flex;
        gap: 20px;

        .cardd {
            background: #fdf2fdda;
            border-radius: var(--radius);
            border: 1px solid var(--primary-light);
            padding: 12px;
            max-width: 200px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            transition: 0.3s;

            span {
                padding: 6px;
                background-color: #9500ffb7;
                border-radius: 12px;
                font-size: 26px;
                color: white;


            }

            h5 {
                font-weight: 400;
                font-size: 14px;
                padding: 10px 0;
            }

            p {
                font-size: 12px;
                color: var(--text-muted);
            }
        }

        .cardd:hover {
            box-shadow: #9500ff44 0px 5px 15px;
            transform: translateY(-2px);
        }
    }

}

.caution {
    display: flex;
    max-width: 1000px;
    padding: 20px;
    align-items: center;
    margin: 0 auto;
    background-color: #f6dbfaa8;
    border-radius: var(--radius);

    span {
        font-size: 30px;
        padding: 12px;
        margin-right: 12px;
        background-color: white;
        color: #9500ffb7;
        border-radius: 50%;
    }

    p {
        font-size: 12px;
    }
}

.points {
    margin-top: 160px;
    background: #F8F9FA;
    background: linear-gradient(180deg, rgba(248, 249, 250, 1) 0%, rgba(245, 236, 247, 1) 71%, rgba(243, 230, 245, 1) 100%);

    h2 {
        text-align: center;
        font-size: 14px;
        margin-top: 50px;
        margin-bottom: 20px;
        color: var(--primary);

    }

    .p {
        text-align: center;
        font-size: 12px;
        color: var(--text-muted);
    }

    .points-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin: 20px auto;
        max-width: 1040px;
    }

    .point {
        background: #fffbff;
        border-radius: var(--radius);
        border: 1px solid rgb(215, 215, 215);
        padding: 12px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        transition: 0.3s;

        span {
            padding: 6px;
            background-color: #9500ffb7;
            border-radius: 12px;
            font-size: 26px;
            color: white;
            transition: 0.1s;


        }

        h5 {
            font-weight: 400;
            font-size: 14px;
            padding: 10px 0;
        }

        p {
            font-size: 12px;
            color: var(--text-muted);
        }

        .pp {
            width: 90%;
        }
    }

    .point:hover {
        box-shadow: #9500ff44 0px 5px 15px;
        transform: translateY(-1.2px);

        span {
            transform: scale(1.2);
        }
    }


}

.community {
    padding: 120px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    .photos {
        img {
            width: 400px;
        }

    }

    .community-explain {
        max-width: 500px;

        span {
            font-weight: 500;
            font-size: 14px;
            padding: 6px 10px;
            border-radius: var(--radius);
            background-color: var(--primary-light);

            color: var(--primary);

        }

        .community-info {
            .jorney {
                margin: 20px 0;
                color: var(--primary);
            }

            p {
                font-size: 12px;
                color: var(--text-muted);
                margin-bottom: 10px;


            }
        }

        .list {
            display: flex;
            align-items: center;
            justify-content: left;
            gap: 10px;
            margin: 14px 0 0 0;

            span {
                padding: 10px;
                border-radius: 12px;
            }


            div {
                font-size: 12px;

                p {
                    font-weight: bold;
                }

                p:last-child {
                    color: var(--text-muted);
                    font-weight: 500;
                }
            }
        }
    }
}